@model DatabaseProvider.account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Account control panel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="acc_id" />
            <div class="form-group">
                <label asp-for="emp_id" class="control-label"></label>
                <input asp-for="emp_id" class="form-control" readonly />
                <span asp-validation-for="emp_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acc_username" class="control-label"></label>
                <input asp-for="acc_username" class="form-control" readonly />
                <span asp-validation-for="acc_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acc_password" class="control-label"></label>
                <input asp-for="acc_password" class="form-control" readonly />
                <span asp-validation-for="acc_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acc_session" class="control-label"></label>
                <input asp-for="acc_session" class="form-control" readonly />
                <span asp-validation-for="acc_session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role_id" class="control-label"></label>
                <select asp-for="role_id" class="form-control">
                    <option value="">Select role</option>
                    <option value="1">Manager</option>
                    <option value="2">Security</option>
                    <option value="3">Cleaner</option>
                    <option value="4">Chief</option>
                    <option value="5">Intern</option>
                    <option value="6">Accountant</option>
                </select>
                <span asp-validation-for="role_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to account list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
