@model Entity.UserSession

<h1 class="bg-info text-white">Create User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="acc_name">Name</label>
        <input asp-for="acc_name" class="form-control" placeholder="Please enter your name"/>
    </div>
    <div class="form-group">
        <label asp-for="acc_identity_code">Identity number</label>
        <input asp-for="acc_identity_code" class="form-control" placeholder="Please enter your identity number"/>
    </div>
    <div class="form-group">
        <label asp-for="acc_contact_number">Contact number</label>
        <input asp-for="acc_contact_number" class="form-control" placeholder="Please enter your contact number"/>
    </div>
    <div class="form-group">
        <label asp-for="acc_username">Username</label>
        <input asp-for="acc_username" class="form-control" placeholder="Please enter your username"/>
    </div>
    <div class="form-group">
        <label asp-for="acc_password"></label>
        <input asp-for="acc_password" class="form-control" placeholder="Please enter your password"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>