@model DatabaseProvider.reservation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customer_id" class="control-label"></label>
                <input asp-for="customer_id" class="form-control" />
                <span asp-validation-for="customer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expected_check_in_date" class="control-label"></label>
                <input asp-for="expected_check_in_date" class="form-control" />
                <span asp-validation-for="expected_check_in_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day_stay_number" class="control-label"></label>
                <input asp-for="day_stay_number" class="form-control" />
                <span asp-validation-for="day_stay_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expected_room_type_id" class="control-label"></label>
                <input asp-for="expected_room_type_id" class="form-control" />
                <span asp-validation-for="expected_room_type_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
