@model DatabaseProvider.payment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Payment control panel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="payment_type_id" class="control-label"></label>
                <select asp-for="payment_type_id" class="form-control">
                    <option value="">Select payment type</option>
                    <option value="1">By Cash</option>
                    <option value="2">By Credit card</option>
                    <option value="3">By Debit card</option>
                </select>
                <span asp-validation-for="payment_type_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reception_id" class="control-label"></label>
                <input asp-for="reception_id" class="form-control" />
                <span asp-validation-for="reception_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payment_amount" class="control-label"></label>
                <input asp-for="payment_amount" class="form-control" />
                <span asp-validation-for="payment_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payment_date" class="control-label"></label>
                <input asp-for="payment_date" class="form-control" />
                <span asp-validation-for="payment_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
