@model DatabaseProvider.room
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="room_id" class="control-label"></label>
                <input asp-for="room_id" class="form-control" readonly />
                <span asp-validation-for="room_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_number" class="control-label"></label>
                <input asp-for="room_number" class="form-control" />
                <span asp-validation-for="room_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_type_id" class="control-label"></label>
                <select asp-for="room_type_id" class="form-control">
                    <option value="">Select Room type</option>
                    <option value="1">King Room</option>
                    <option value="2">Queen Room</option>
                    <option value="3">4-people Family Room</option>
                    <option value="4">3-people Family Room</option>
                    <option value="5">Single Room</option>
                    <option value="6">Couple Room</option>
                    <option value="7">4-Bunk Room</option>
                </select>
                <span asp-validation-for="room_type_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_status_id" class="control-label"></label>
                <select asp-for="room_status_id" class="form-control">
                    <option value="">Select Room status</option>
                    <option value="1">Vacant</option>
                    <option value="2">Booked and UnPaid</option>
                    <option value="3">Booked and Paid</option>
                    <option value="4">Checked In and UnPaid</option>
                    <option value="5">Checked In and Paid</option>
                    <option value="6">Checked Out</option>
                </select>
                <span asp-validation-for="room_status_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
