@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Room's information by Room number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model room_info

<h1>Room's information by Room number <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h1>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="num">Room number:</label>
        <input class="form-control" name="num" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Room</button>
    </div> <br />
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Room number</th>
                <th>Room type name</th>
                <th>Room status name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.room_number</td>
                <td>@Model.room_type_name</td>
                <td>@Model.room_status_name</td>
            </tr>
        </tbody>
    </table>
}
