<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/style/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/style/css/style.css" type="text/css">
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="~/Views/Shared/PartialHeader.cshtml" />
            @RenderBody()
            <partial name="~/Views/Shared/PartialFooter.cshtml" />
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
