<style>
.dropbtn {
    border: none;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" /></a>            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="navbar-nav flex-grow-1" style="justify-content:space-between">
                    <div class="nav-left" style="justify-content: left; display: flex;">
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                        <div class="dropdown nav-item">
                            <button class="dropbtn nav-link text-dark">DB Form</button>
                            <div class="dropdown-content">
                                <a asp-controller="Account" asp-action="Index">Account</a>
                                <a asp-controller="Customer" asp-action="Index">Customer</a>
                                <a asp-controller="Employee" asp-action="Index">Employee</a>
                                @*<a asp-controller="Payment" asp-action="Index">Payment</a>*@
                                <a asp-controller="PaymentType" asp-action="Index">Payment Type</a>
                                @*<a asp-controller="Reception" asp-action="Index">Reception</a>*@
                                @*<a asp-controller="Reservation" asp-action="Index">Reservation</a>*@
                                <a asp-controller="Role" asp-action="Index">Role</a>
                                <a asp-controller="Room" asp-action="Index">Room</a>
                                <a asp-controller="RoomStatus" asp-action="Index">Room Status</a>
                                <a asp-controller="RoomType" asp-action="Index">Room Type</a>
                            </div>
                        </div>

                        <div class="dropdown nav-item">
                            <button class="dropbtn nav-link text-dark">Custom Form</button>
                            <div class="dropdown-content">
                                <a asp-controller="cus_info" asp-action="Index">Customer's information</a> @*done - còn chưa có details*@
                                <a asp-controller="cus_info" asp-action="GetCustomerByNum">Customer's information by Contact Number</a> @*done*@
                                <a asp-controller="emp_info" asp-action="Index">Employee's information</a>
                                <a asp-controller="room_info" asp-action="Index">Rooms' information</a>
                                <a asp-controller="room_info" asp-action="GetRoomByNum">Rooms' information by Room number</a>
                                <a asp-controller="room_info" asp-action="GetRoomByStatus">Rooms' information by Room status</a>
                                @* có dropdown để lựa chọn tình trạng phòng *@
                                <a asp-controller="room_info" asp-action="GetBookedRoomByTypeID">Booked rooms' information by Room type ID</a>
                                @*thêm get all booked rooms*@

                            </div>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link text-dark highlight-content" asp-area="" asp-controller="Function" asp-action="BookRoom">ROOM BOOKING</a>
                            @* có select booking_type (1 - thường, 2 - thanh toán luôn) *@
                        </div>

                        <div class="nav-item">
                            <a class="nav-link text-dark highlight-content" asp-area="" asp-controller="Function" asp-action="CheckIn">CHECK IN ROOM</a>
                            @* có trước khu vực tìm kiếm thông tin khách hàng đã đặt trước theo SĐT -> lấy thông tin loại phòng và check in*@
                        </div>

                        <div class="nav-item">
                            <a class="nav-link text-dark highlight-content" asp-area="" asp-controller="Function" asp-action="CheckOut">CHECK OUT ROOM</a>
                            @* có trước khu vực tìm kiếm thông tin khách hàng theo số phòng -> lấy id phòng và check out *@
                        </div>

                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Swagger" asp-action="">Swagger</a>
                        </div>
                    </div>

                    <div class="nav-right" style="justify-content:right; display: flex;">
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>