<footer class="border-top footer text-muted" style="position: relative;">
    <div class="container">
        &copy; 2022 - My hotel management project - <a asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-controller="Home" asp-action="Terms">Terms & Conditions</a> - <a asp-controller="Home" asp-action="About">About</a>
    </div>
</footer>

<style>
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
        color: darkgrey;
    }
</style>