@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>

        <div style="text-align: left">
            <h1>Introduction</h1>
            <p>About Phan Thanh Tung.</p>
        </div>
    </div>
</body>