@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Change user's information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserSession

<h1>Change user's information <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h1>

@if (ViewBag.StatusCode == "Success" && Model != null)
{
<form asp-action="ChangeInformation" method="post">
    <div class="form-group">
        <label for="acc_username">Username: </label>
        <input class="form-control" name="acc_username" value="@Model.acc_username" readonly />
    </div>
    <div class="form-group">
        <label for="acc_name">Full name: </label>
        <input class="form-control" name="acc_name" value="@Model.acc_name" required />
    </div>
    <div class="form-group">
        <label for="acc_dob">Date of birth: </label>
        <input class="form-control" name="acc_dob" value="@Model.acc_dob" readonly />
    </div>
    <div class="form-group">
        <label for="acc_contact_number">Contact number: </label>
        <input class="form-control" name="acc_contact_number" value="@Model.acc_contact_number" required />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Change information</button>
    </div>
</form>
}