@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Log out Page";
    Layout = "null";
}

<h1>@ViewBag.Message</h1>
<a asp-controller="Home" asp-action="Login" class="btn btn-sm btn-primary">Return back to Login page</a>