@{
    ViewData["Title"] = "Permissions restricted";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Error result</h3>
<p>
    You do not have the permission to access this view! Please address admin to solve the problem.
</p>
