@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Book a Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<room_type_count_statistic>

<div class="container" style="margin-top:50px;">
    <div class="row probootstrap-gutter40">
        <div class="col-md-6">
            <h2 class="mt0">Reservation Form</h2>
            <div class="form-group">
                <label for="booking_type">Booking type:</label>
                <button class="btn btn-sm btn-primary" name="booking_type" id="booking_type" onclick="changeDisplay('pay-later','pay-now'), scrollToAnchor('pay-now')">Book room and Pay now</button>
                <button class="btn btn-sm btn-primary" name="booking_type" id="booking_type" onclick="changeDisplay('pay-now','pay-later'), scrollToAnchor('pay-later')">Book room and Pay later</button>
            </div>

            <form asp-action="BookUnpaidRoomResult" method="post" class="probootstrap-form" id="mainForm">
                <div class="col-md-12" id="pay-later">
                    <h4 class="mt-2">Book room and Pay later</h4>
                    <div class="form-group">
                        <label for="customer_id">Customer ID:</label>
                        <input type="text" class="form-control" id="customer_id" name="customer_id" placeholder="Please enter customer ID" />
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="expected_check_in_date">Check in date: </label>
                        <input type="datetime-local" class="form-control" id="expected_check_in_date" name="expected_check_in_date">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="day_stay_number">Number of staying days: </label>
                        <input type="text" class="form-control" id="day_stay_number" name="day_stay_number" placeholder="Please enter the number of staying dates" />
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="room_type_id">Room type: </label>
                        <div class="form-field">
                            <select name="room_type_id" id="room_type_id" class="form-control">
                                <option value="">Select Room type</option>
                                <option value="1">King Room</option>
                                <option value="2">Queen Room</option>
                                <option value="3">4-people Family Room</option>
                                <option value="4">3-people Family Room</option>
                                <option value="5">Single Room</option>
                                <option value="6">Couple Room</option>
                                <option value="7">4-Bunk Room</option>
                            </select>
                        </div>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Book Now">
                    </div>
                    <br />
                </div>
            </form>


            <form asp-action="BookPaidRoomResult" method="post" class="probootstrap-form" id="mainForm">
                <div class="col-md-12" id="pay-now" style="display:none;">
                    <h4 class="mt-2">Book room and Pay now</h4>
                    <div class="form-group">
                        <label for="customer_id">Customer ID:</label>
                        <input type="text" class="form-control" id="customer_id" name="customer_id" placeholder="Please enter customer ID">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="expected_check_in_date">Check in date: </label>
                        <input type="datetime-local" class="form-control" id="expected_check_in_date" name="expected_check_in_date">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="day_stay_number">Number of staying days: </label>
                        <input type="text" class="form-control" id="day_stay_number" name="day_stay_number" placeholder="Please enter the number of staying dates">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="room_type_id">Room type: </label>
                        <div class="form-field">
                            <select name="room_type_id" id="room_type_id" class="form-control">
                                <option value="">Select Room type</option>
                                <option value="1">King Room</option>
                                <option value="2">Queen Room</option>
                                <option value="3">4-people Family Room</option>
                                <option value="4">3-people Family Room</option>
                                <option value="5">Single Room</option>
                                <option value="6">Couple Room</option>
                                <option value="7">4-Bunk Room</option>
                            </select>
                        </div>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="payment_type_id">Payment type: </label>
                        <div class="form-field">
                            <select name="payment_type_id" id="payment_type_id" class="form-control">
                                <option value="">Select payment type</option>
                                <option value="1">By Cash</option>
                                <option value="2">By Credit card</option>
                                <option value="3">By Debit card</option>
                            </select>
                        </div>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="payment_amount">Payment amount: (VND)</label>
                        <input type="text" class="form-control" id="payment_amount" name="payment_amount" placeholder="Please enter the amount of payment">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="payment_date">Payment date</label>
                        <input type="datetime-local" class="form-control" id="payment_date" name="payment_date">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Book Now">
                    </div>
                    <br />
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h2 class="mt0">Get Customer's Information</h2>
            <a class="btn btn-sm btn-secondary" asp-controller="cus_info" asp-action="GetCustomerByNum" target="pop-up" onclick="window.open('','pop-up','height=600,width=600,resizable=no')">Search for customer by contact number</a> <br /> <br />
            <a class="btn btn-sm btn-primary" asp-controller="cus_info" asp-action="AddCustomer" target="pop-up" onclick="window.open('','pop-up','height=1000,width=600,resizable=no')">Add new customer</a>
            <br /> <br />
            <h2 class="mt0">Total number of available rooms</h2>
            @if (Model != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Room type</th>
                            <th>Total number of available rooms</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        string room_type_name = "";
                                        if (item.room_type_id == 1)
                                            room_type_name = "King Room";
                                        else if (item.room_type_id == 2)
                                            room_type_name = "Queen Room";
                                        else if (item.room_type_id == 3)
                                            room_type_name = "4-people Family Room";
                                        else if (item.room_type_id == 4)
                                            room_type_name = "3-people Family Room";
                                        else if (item.room_type_id == 5)
                                            room_type_name = "Single Room";
                                        else if (item.room_type_id == 6)
                                            room_type_name = "Couple Room";
                                        else if (item.room_type_id == 7)
                                            room_type_name = "4-Bunk Room";
                                    }
                                    @room_type_name
                                </td>
                                <td>@item.count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script src="~/js/validator.js"></script>

<script>
    function changeDisplay(pageName, pageName2) {
        //
        var x = document.getElementById(pageName);
        var y = document.getElementById(pageName2);

        x.style.display = "block";

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        }
        else {
            x.style.display = "none";
            y.style.display = "block";
        }
    }

    function scrollToAnchor(element) {
        location.hash = "#" + element;
    }

    //Validator({
    //    form: '#mainForm',
    //    formGroupSelector: '.form-group, .row',
    //    errorSelector: '.form-message',
    //    rules: [
    //        //customer_id (int)
    //        Validator.isRequired('#customer_id', 'Please enter correct customer ID!'),
    //        //room_type_id -> room_type_name (int)
    //        Validator.isRequired('#room_type_id', 'Please choose correct room type!'),
    //        //expected_check_in_date (datetime)
    //        Validator.isRequired('#expected_check_in_date', 'Please choose correct expected check in date!'),
    //        //day_stay_number (int)
    //        Validator.isRequired('#day_stay_number', 'Please enter the correct number of customer staying days!'),
    //        //payment_date (datetime)
    //        Validator.isRequired('#payment_date', 'Please choose correct payment date!'),
    //        //payment_type_id -> payment_type_name (string)
    //        Validator.isRequired('#payment_type_id', 'Please choose correct payment type!'),
    //        //payment_ammount (decimal)
    //        Validator.isRequired('#payment_amount', 'Please enter correct payment amount!'),
    //    ],
    //    onSubmit: function (data) {
    //        console.log(data);
    //    }
    //})
</script>

<style>
    .form-group {
        margin-bottom: 0rem;
    }

        .form-group.invalid .form-control {
            border-color: #f33a58;
        }

        .form-group.invalid .form-message {
            color: #f33a58;
        }

    .form-message {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 4px 0 0;
        margin-left: 10px;
    }
</style>