@{
    ViewData["Title"] = "Book a Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px;">
    <div class="row probootstrap-gutter40">
        <div class="col-md-8">
            <h2 class="mt0">Reservation Form</h2>
            <form action="#" method="post" class="probootstrap-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="form-field">
                        <i class="icon icon-mail"></i>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="room">Room</label>
                    <div class="form-field">
                        <i class="icon icon-chevron-down"></i>
                        <select name="room" id="room" class="form-control">
                            <option value="">Select a Room</option>
                            <option value="1">Classic Room</option>
                            <option value="2">Ultra Superior Room</option>
                            <option value="3">Grand Deluxe Room</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date-arrival">Arrival</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-arrival" name="date-arrival">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date-departure">Departure</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-departure" name="date-departure">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb30">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults">Adults</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="adults" id="adults" class="form-control">
                                    <option value="">Number of Adults</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="children">Children</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="children" id="children" class="form-control">
                                    <option value="">Number of Children</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Reserve">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h2 class="mt0">Get Customer's Information</h2>
            <div class="form-group">
                <label for="cus_name">Customer's name</label>
                <input type="text" class="form-control" id="cus_name" name="cus_name">
            </div>
            <div class="form-group">
                <label for="cus_num">Customer's number</label>
                <input type="text" class="form-control" id="cus_num" name="cus_num">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Search">
            </div>
            <div class="form-group">
                <h5>Results: </h5>
                <p>Found</p>
                <table>
                
                </table>
            </div>

            <p><a href="#" class="btn btn-primary" role="button">Send Message</a></p>
        </div>
    </div>
</div>