@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Check In Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model room_info


<div class="container">
    <div class="row probootstrap-gutter40">
        <div class="col-md-8">
            <h2 class="mt0">Check In Form</h2>            
            <form asp-action="CheckInResult" method="post" class="probootstrap-form">
                <div class="form-group">
                    <label for="room_type_id">Room type: </label>
                    <div class="form-field">
                        <select name="room_type_id" id="room_type_id" class="form-control">
                            <option value="">Select Room type</option>
                            <option value="1">King Room</option>
                            <option value="2">Queen Room</option>
                            <option value="3">4-people Family Room</option>
                            <option value="4">3-people Family Room</option>
                            <option value="5">Single Room</option>
                            <option value="6">Couple Room</option>
                            <option value="7">4-Bunk Room</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Check in room">
                </div>
            </form>
        </div>
        <<div class="col-md-4">
            <h2 class="mt0">Get booked rooms</h2>
            <a class="btn btn-sm btn-secondary" asp-controller="room_info" asp-action="GetBookedRoom" target="pop-up" onclick="window.open('','pop-up','height=600,width=600,resizable=no')">Search for booked room</a>
        </div>
    </div>
</div>