@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Log out Page";
    Layout = null;
}


@if (ViewBag.PwdChangeSuccessMessage != null)
{
    <h1>@ViewBag.PwdChangeSuccessMessage</h1>
}
else
{
    <h1>@ViewBag.Message</h1>
}
<a asp-action="Login" class="btn btn-sm btn-primary">Return back to Login page</a>